{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
    <h1>Welcome to the Phone Book</h1>
{% endblock %}

{% block content %}
<div class="row">
    <!-- Left 2/3 Column -->
    <div class="col-12 col-lg-8 order-1 order-lg-0">

        {% for address in addresses %}
            <div class="card mt-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h6 class="card-subtitle text-muted">{{ address.date_created }}</h6>
                            <h5 class="card-title">{{ address.state }} - {{address.city}} - {{ address.street_name }}</h5>
                            <p class="card-text">Number: {{ address.number }}</p>
                            <p class="card-text">Unit: {{ address.unit }}</p>
                            <h6 class="card-subtitle">Postal Code: {{ address.postal_code }}</h6>
                            {% if address.phone == current_user %}
                                <a href="{{ url_for('edit_address', address_id=address.id) }}" class="btn btn-success">Edit</a>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAddressModal-{{ address.id }}">
                                    Delete
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="deleteAddressModal-{{ address.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete {{ address }}?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        Are you sure you want to delete {{ address }}? This action cannot be undone.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{{ url_for('delete_address', address_id=address.id) }}" class="btn btn-danger">Delete Address</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
    
    <div class="col-12 col-lg-4 order-0 order-lg-1">
        {% if current_user.is_authenticated %}
        <div class="position-sticky top-0">
            <div class="card mt-3">
                <div class="card-header">Phone User</div>
                <div class="card-body">
                    <h5 class="card-title">{{ current_user.phone_number }}</h5>
                    <h6 class="card-subtitle text-muted">{{ current_user.first_name }} {{ current_user.last_name }}</h6>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="position-sticky top-0">
            <div class="card mt-3">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <form action="" method="post">
                        {{ form.csrf_token }}
                        <div class="input-group">
                            {{ form.search_term(class="form-control", placeholder="Enter Search Term...")}}
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

